*{
    margin : 0;
    padding: 0;
}
body {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}
header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 5px 20px;
}