*{
    margin : 0;
    padding: 0;
}
body {
    background-color: rgba(225, 232, 240);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}
header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 150px;
    gap: 15px;
    padding: 5px 20px;
}
.search {
    width: 100%;
    display: flex;
}
input{
    background-color: rgba(225, 232, 240);
    width: clamp(300px, 80% , 600px);
    height: 30px;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
}
.user-profile{
    display: flex;
    gap: 15px;
    padding: 5px;
    align-items: center;
}
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
}